body {
    background-color: #56585b; /*gray*/
    color: #00ccf5; /* platinum text */
    font-family: sans-serif;   /*  sans-serif font */
    text-align: center;
}

h1, h2, h3 {
    font-family: 'Trebuchet MS', sans-serif;   /*  sans-serif font */
    text-align: center;
    color:#e0e1dd;
}

p{
    color:#e0e1dd;
    text-align: center;
    font-family: sans-serif;
}


footer{
    font-family: Verdana, sans-serif; /*  verdana sans serif */
    color: #e0e1dd;
    text-align: center;
    margin-top: 20px;

}

a:link, nav {
    color: #47649A;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #E0E1DD;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #778DA9;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: #415A77;
    background-color: transparent;
    text-decoration: underline;
}
