title {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Pacifico', cursive;
}

body {
    background-color: #1b1b32; /*Dark navy*/
    color: rgb(251, 251, 251); /* white text */
    font-family: sans-serif;   /*  sans-serif font */
    text-align: center;
}

h1, h2, h3, p {
    font-family: 'Trebuchet MS', sans-serif;   /*  sans-serif font */
    text-align: center;
}


footer{
    font-family: Verdana, sans-serif; /*  verdana sans serif */
    text-align: center;

}